* {
    box-sizing: border-box;
    padding: 0;
    width: 100vh;
    margin: auto;
    font-family: 'Times New Roman',serif;

}
header {
    display: flex;
    flex-direction: row;
    min-height: 5vh;
    margin: 0, auto;
    width: 100%;
    background-image: linear-gradient(to right, rgb(86, 29, 179), pink);
}
.navi{
    display: inline;
    text-align: center;

}

.navigation{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;

}

body{
    background-color: indigo;
    }
img{
    width: 120px;
}  


footer {
    display: flex;
    background-color: lavender;
    flex-direction: row;
    min-height: 5vh;
    margin: 10px, auto;
    justify-content: space-between;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 80vh;
    background-image: linear-gradient(to right, blue, pink );
}

.top{
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
h1{
    width: 300px;
}
/* .aside{
    display: flex;
    flex-direction: row;
}
.base{
    display: flex;
    flex-direction: row; 
}  */
.over{
    display: flex;
    flex-direction: row;
}
/* aside{
    width: 35%;
    float: left;
} */
.general{
    display: flex;
    flex-direction: column;
}
.sidebar{
    display: flex;
    flex-direction: column;
}